---
import dixonLogo from '../../public/teds_dixon.png'
import { Image } from 'astro:assets';
---

<nav class="w-full flex items-center px-3 justify-between bg-[url('../../public/teds_header.png')]">
    <Image src={dixonLogo} alt="Dixon Drums" class="h-18 w-auto" />
    <h1 class="text-white text-xl uppercase font-thin">@ Europe Drum Show 2025</h1>
</nav>
