---
const {title, code, link, video, model, number, size, shell, finish, head, reso, hoops, hardware, throwOff, butt, accessories} = Astro.props;
---

<article class="card flex flex-col">
  <h2>{title}</h2>
  <p>{code}</p>
    <a href={link} class="bg-blue-400 px-3 py-2">Read more →</a>
</article>
