---
import Header from './Header.astro';
import snares from "../assets/snares.json";
import tests from "../assets/test.json";
import Snare from './Snare.astro';
---

console.log(snares)

<div id="container">
    <Header />
    <section id='video'>
        Video
    </section>
    <p>social links</p>
    <h1>Thanks for visiting!</h1>
    <p>It was great seeing you at the Dixon booth.<br/> Explore all of the incredible kits and snares on display at the links below.</p>

    <h2 class="font-bold">Featured show kits</h2>
    <hr/>
    <section id="snares">
        <h3>Snares</h3>
        <div class="flex gap-1 w-1/4 flex-wrap">
            {snares.map((snare) => (
            <Snare
                key={snare.code}
                {...snare}
            />
            ))}
        </div>
        <div>
            {tests.map((test) => (
            <div>
                <h1>{test.name as any}</h1>
                <p>{test.location as any}</p>
            </div>
            ))}
        </div>
    </section>

</div>
